
div(class="login-content")
	h3(class="login-logo") {{logo}}
	div(class="login-intro") 
		记录读过的书

	ng-form(role="form",class="login-form",name="loginform")
		div(class="form-group")
			input(type="text",ngbk-focus,class="form-control",placeholder="用户名",ng-model="form.name",required)
			p(class="text-danger") {{error}}
		div(class="form-group")
			input(type="password",class="form-control",placeholder="密码",required,ng-model="form.password")
		button(type="submit",class="btn btn-default",ng-click="login()",ng-disabled='!loginform.$valid') 提交
	div(class="creat-account")
		a(href="/register") 创建账号

