div(class="navbar navbar-inverse navbar-fixed-top",role="navigation")
	div(class="container")
		div(class="navbar-header") 
			h3(class="mark-logo",ng-click="openNav()") {{title}}
		div(class="pull-right top-fuc")
			span(class="glyphicon glyphicon-bell")
			span(class="glyphicon glyphicon-repeat",ng-click="loadBooks()")
			span(class="glyphicon glyphicon-search")

div(class="container mark-container")
	nav(class="mk-menu-wrapper mk-open-{{openMenu}}")
		ul(class="mk-menu")
			li(class="mk-m-user") 
				p {{user.name}}
				p {{user.email}}
			li
				span(class="glyphicon glyphicon-bell") 提醒
			li(class="mk-m-logout") 
				a(ng-click="logout()") 退出
	div
		div(class="mark-action row")
			div(class="col-xs-6")
				a(href="addMark")
					span(class="glyphicon glyphicon-list-alt")
			div(class="col-xs-6")
				a(href="")
					span(class="glyphicon glyphicon-camera")
					
		ul(class="media-list booklist")
			li(class="media",ng-repeat="book in books")
					div(class="row")
						div(class="col-xs-10")
							div(class="row")
								a(href="/books/{{book.id}}")
									img(class="media-object pull-left",ng-src="{{book.bookface}}")
								div
									h3(class="mark-title") {{book.name}}
									h4(class="mark-info") guwu 15min 
						div(class="col-xs-2")
							p(class="mark-pagenumber pull-right")
								span(class="half-circle") {{book.pagenum}}
					div(class="row book-desc") {{book.bookdesc}}	
					div(class="row book-act")
						div(class="col-xs-9")
							span(class="glyphicon glyphicon-heart-empty")
							span(class="glyphicon glyphicon-comment")
						div(class="col-xs-3")
							span(class="glyphicon glyphicon-bookmark pull-right",ng-click="addNewmark(book)")
							span(class="glyphicon glyphicon-remove pull-right",ng-click="remove($index,book)")
				
