<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset='utf8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
   <title>MARK</title>
    <link rel='stylesheet' href='/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/css/font-awesome.min.css'>
    <link rel='stylesheet' href='/css/mark.css'>
    <!--<link rel="import" href="/polymer/components/font-roboto/roboto.html">-->
    <link href="/img/markweblogo.png" rel="shortcut icon" type="image/png">
  </head>
  <body unresolved>
    <div id="mk-loading" butterbar ><h3 class="login-logo"><span>MARK</span></h3>
    <img src="/img/markbg.jpg" style="display:none;">
    </div>
    <div ng-view>
    </div>
 </body>
 
</html>
  
    
  <script src="/polymer/components/platform/platform.js"></script>
  <link rel="import"
  href="/polymer/components/core-header-panel/core-header-panel.html">
  <link rel="import"
  href="/polymer/components/core-toolbar/core-toolbar.html">
  <link rel="import"
  href="/polymer/components/paper-tabs/paper-tabs.html">
  <link rel="import"
  href="/polymer/components/paper-input/paper-input.html">
  <link href="/mark-component/register-button.html" rel="import">
  


  <script type="text/javascript" src="/socket.io/socket.io.js"></script>

  <script src='js/lib/angular/angular.js'></script>
  <script src='js/lib/angular/angular-route.js'></script>
  <script src='js/lib/angular/angular-sanitize.js'></script>
  <script src='js/lib/angular/angular-cookies.js'></script>
  <script src='js/lib/angular/angular-resource.js'></script>
  <script src='js/lib/angular/angular-animate.js'></script>
  <script src='ng-polymer-elements-0.1.0/ng-polymer-elements.min.js'></script>
  <script src='js/app.js'></script>
  <script src='js/services.js'></script>
  <script src='js/controllers.js'></script>
  <script src='js/filters.js'></script>
  <script src='js/directives.js'></script>
  
  <!--<script src="bootstrap-gh-pages/ui-bootstrap-tpls-0.11.0.min.js"></script>-->

  
   
   <!--view template-->

   <!--登陆界面-->
   <script type="text/ng-template" id="loginView">

    <div class="login-content mk-view-animate" ng-controller="loginController">
      <div class="mk-login-inner">
      <h3 class="login-logo">[[logo]]</h3>
      <div class="login-intro">
        记录读过的书
      </div>

        <ng-form role="form" class="login-form" name="loginform">
            <div class="form-group">
            <input type="text" ngbk-focus class="form-control" placeholder="邮箱" ng-model="form.email" required>
            </div>
            <p class="text-danger">[[error]]</p>
            <div class="form-group">
              <input type="password" class="form-control" placeholder="密码" required ng-model="form.password">
              
            </div>
            <button type="submit" class="btn btn-default" ng-click="login()" ng-disabled='!loginform.$valid'>提交</button>
            <div class="creat-account">
              <a href="/register">创建账号</a>
            </div>
        </ng-form>
        <register-button></register-button>
      </div>
      </div>
  </div>
</script>

<!--注册界面start-->
<script type="text/ng-template" id="registerView">
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
     <div class="row mk-t-fun">
      <div class="col-xs-6 mk-cancle">
        <i class="fa fa-arrow-left" ng-click="toLogin()"></i>
      </div>
      <div class="col-xs-6">
        <button class="mk-addmark" ng-click="reg()" ng-disabled='!addaccount.$valid'><i class="fa fa-check"></i></button>
      </div>
    </div>

  </div>
</div>

<div class="container mark-container">
  <ng-form role="form" class="register-form mk-add-form mk-reg-form" name="addaccount">
    <div class="form-group" style="margin-top:16px;">
      <i class="fa fa-user pull-left"></i>
      <div>
      <input type="text" class="form-control" ngbk-focus placeholder="用户名" required ng-model='form.name'/>
      <p class="text-danger"> [[message]]</p>
      </div>
    </div>
    <div class="form-group">
    <i class="fa fa-envelope pull-left"></i>
      <div>
      <input type="email" class="form-control" placeholder="邮箱" required ng-model='form.email'/>
      </div>
    </div>
    <div class="form-group">
    <i class="fa fa-lock pull-left"></i>
    <div>
      <input type="password" class="form-control" placeholder="密码" required ng-model='form.password'/>
      </div>
    </div>
  </ng-form>
</div>
</script>
<!--注册界面end-->

<!--书籍mark列表start-->
<script type="text/ng-template" id="marklistView">
<nav class="mk-menu-wrapper mk-open-[[openMenu]]" touch-Nav>
    <ul class="mk-menu">
      <li class="mk-m-user"> 
        <div><a class="mk-u-face"><img src="./img/person.jpg"></a></div>
        <p> [[user.email]]</p>
      </li>
      <li>
        <i class="fa fa-heart"></i><a ng-click="searchFellows()">关注</a></li>
      <li class="mk-m-logout">
        <i class="fa fa-power-off"></i><a ng-click="logout()"> 退出</a>
      </li>
    </ul>
  </nav>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="clearfix mk-list-wrap">
    <div class="navbar-header">
      <h3 class="mark-logo" ng-click="openNav()">[[title]]</h3>
      
          <!--<span class="dropdown mk-top-drop" on-toggle="toggled(open)">
            <a href class="dropdown-toggle">
              [[listfilter]]<i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu mk-dropdown-menu">
              <li>
                <a ng-click="selfbooklist()">个人</a>
                <a ng-click="booklist()">所有</a>
              </li>
            </ul>
          </span>-->
    </div>
    <div class="pull-right top-fuc">
      <i class="fa fa-bullhorn" ng-click="showVoiceinput()"></i>
      <!--<i class="fa fa-bullhorn" ng-click="showNotification()"></i>-->
      <i class="fa fa-users" ng-click="searchUsers()"></i>
    </div>
  </div>
  <core-header-panel>

    <core-toolbar>
    <paper-tabs id="tabs" selected="all" self-end>
      <paper-tab name="all" ng-click="selfbooklist()">个人</paper-tab>
      <paper-tab name="favorites" ng-click="booklist()">所有</paper-tab>
    </paper-tabs>
    </core-toolbar>

    <!-- main page content will go here --> 

  </core-header-panel>
</div>
<div class="mk-tabs">

</div>

<div class="container mark-container mk-top-tab">
  
  <div class="mk-container-wrap" ng-switch on="books.length">

    <div class="mark-action" role="button">
        <a href="addMark">
          <i class="fa fa-plus"></i>
        </a>
    </div> 
    
    <ul  ng-switch-default class="media-list booklist">
      <li ng-repeat="book in books">
          <div class="row mk-bl-wrap">
            <div class="col-xs-10 mk-bl-l">
              <div>
                <a href="/books/[[book.id]]">
                  <img class="media-object pull-left" ng-src="[[book.bookface]]"/>
                </a>
                <div>
                  <h3 class="mark-title"> [[book.name]]</h3>
                  <h4 class="mark-info">来自: [[book.user]] [[book.date]] </h4>

                </div>
              </div>
            </div>
            <div class="col-xs-2 mk-bl-r">
              <p class="mark-pagenumber pull-right">
                <span class="half-circle">[[book.pagenum]]</span>
              </p>
            </div>
          </div>
          <div class="row book-desc">[[book.bookdesc]]</div>
          <div class="row book-act">
            <div class="col-xs-8">
              
              <span class="glyphicon glyphicon-comment" ng-click="addComment(book)"></span>
              <span class="glyphicon glyphicon-share" ng-click="openDuoKan()"></span>
            </div>
            <div class="col-xs-4">
              
              <span ng-switch on="[[book.user]]">
              <span class="glyphicon glyphicon-bookmark pull-right" ng-switch-when="[[user.name]]"  ng-click="addNewmark(book)"></span>
              <span class="glyphicon glyphicon-remove pull-right" ng-switch-when="[[user.name]]" ng-click="remove($index,book)"></span>
              <span class="glyphicon glyphicon-bookmark pull-right" ng-switch-default  ng-click="addNewmark(book)"></span>
              <span class="glyphicon glyphicon-remove pull-right" ng-switch-default ng-click="remove($index,book)"></span>
              
              </span>
            </div>
          </div>
        </li>
      </ul>
      <ul ng-switch-when="0" class="media-list booklist">
      <li>
      <h4 style="padding:20px;margin:0px;color:rgba(0,0,0,0.6);text-align:center;">欢迎使用MARK:添加第一本书的页码吧。</h4></li>
      </ul>
 </div>
</div>       
</script>
<!--书籍mark列表end-->
 
<!--书籍newmark start-->
<script type="text/ng-template" id="booknewmarkView">
<div class="navbar navbar-inverse navbar-fixed-top mk-menu-f"role="navigation">
  <div class="container">
    <div class="row mk-t-fun">
      <div class="col-xs-6 mk-cancle">
        <i class="fa fa-arrow-left"></i>
      </div>
      <div class="col-xs-6">
        <button class="mk-addmark" ng-disabled='!booknewmark.$valid' ng-click="save()"><i class="fa fa-check"></i></button>
      </div>
    </div>
  </div>
</div>
<div class="container mark-container">
<div class="mk-importantpanel">
  </div>
  <div class="row">
    <div class="col-md-12">
      <ng-form class="form mk-add-form" role="form" name="booknewmark">
        <div class="mk-bf-wrap mk-newm-bf">
          <img ng-src="[[book.bookface]]" width="106px" height="139px"/>
          
          <input type="text" class="form-control" style="display:none" ng-model='book.bookface' disabled="disabled"/>
        </div>
        <div class="form-group">
          <label> 书名</label>
          <input type="text" class="form-control" disabled="disabled" ng-model='book.name'/>
        </div>
        <div class="form-group">
          <label> 描述</label>
          <input type="text" class="form-control" ng-model='book.bookdesc'/>
        </div>
        <div class="form-group">
          <label> 当前页码</label>
          <input type="number" class="form-control" ng-model='book.pagenum' required/>
        </div>
      </ng-form>
    </div>
  </div>
</div>
</script>
<!--书籍newmark end-->

<!--新建书籍 end-->
<script type="text/ng-template" id="addmarkView">
<div class="navbar navbar-inverse navbar-fixed-top mk-menu-f" role="navigation">
  <div class="container">
    <div class="row mk-t-fun">
      <div class="col-xs-6 mk-cancle">
        <i class="fa fa-arrow-left"></i>
      </div>
      <div class="col-xs-6">
        <button class="mk-addmark" ng-click="addMark()" ng-disabled='!addmark.$valid'><i class="fa fa-check"></i></button>
      </div>
    </div>
  </div>
  
</div>
    

<div class="container mark-container">
<div class="mk-importantpanel">
  </div>
  <div class="row">
    <div class="col-md-12">
      <ng-form class="form mk-add-form" role="form" name="addmark">
      <div class="form-group" style="margin-bottom:0px;">
          <label style="color:#fff;"> 书名</label>
          <input type="text" class="form-control" ngbk-focus ng-model='form.name' required focus fetch-bookface style="color:#fff;"/>
        </div>

      <div class="form-group mk-bf-wrap">
          <input type="text" class="form-control" style="display:none;" ng-model='form.bookface' required value="[[form.bookface]]"/>
          <div class="mk-[[hasdata]]-contain">
            <ul class="list-group mk-bf-wrap">
              <li class="list-group-item" ng-repeat="bookface in bookfaces" choose-bookface>
                <img src="[[bookface.bookface]]" alt="[[bookface.name]]" width="60px"/>
                <div class="mk-book-desc pull-right" style="width:120px;"> [[bookface.name]]</div>
              </li>
            </ul>
          </div>
        </div>
      
      

      <div class="form-group">
          <label>当前页码</label>
          <input type="number" class="form-control" ng-model='form.pagenum' required/>
        </div>

      
        
        <div class="form-group">
          <label> 描述</label>
          <input type="text" class="form-control" ng-model='form.bookdesc'/>
        </div>
        
      </ng-form>
    </div>
  </div>
</div>
</script>
<!--新建书籍 end-->


<!--查询用户searchUsers start-->
<script type="text/ng-template" id="searchUsersView">
<div class="navbar navbar-inverse navbar-fixed-top mk-menu-f" role="navigation">
  <div class="container">
    <div class="row mk-t-fun">
      <div class="col-xs-6 mk-cancle">
        <i class="fa fa-arrow-left" ng-click="goMark()"></i><span class="mk-t-tile">用户</span>
      </div>
      
    </div>
  </div>
  
</div>

<div class="container mark-container">
  
  <div class="mk-container-wrap">
    <span class="mk-u-intrest">可能感兴趣的人<span>
    <ul class="media-list mk-u-wrap">
      <li ng-repeat="user in users" >
          <a class="mk-u-img pull-left"><img src="/img/person.jpg" width="40px" height="40px"><span class="mk-u-name">[[user.name]]<span></a> 
          <span class="mk-fellow-add mk-u-adding" ng-click="folowUser(user,$event.target)">
          <i class="fa fa-plus"></i>
          关注
          </span>
          <span class="mk-u-following">已关注</span>
        </li>
      </ul>
 </div>
</div>  
</script>
<!--查询用户searchUsers end-->

<!--查询关注用户searchFellows start-->
<script type="text/ng-template" id="searchFellowsView">
<div class="navbar navbar-inverse navbar-fixed-top mk-menu-f" role="navigation">
  <div class="container">
    <div class="row mk-t-fun">
      <div class="col-xs-6 mk-cancle">
        <i class="fa fa-arrow-left" ng-click="goMark()"></i><span class="mk-t-tile">关注的用户</span>
      </div>
      
    </div>
  </div>
  
</div>

<div class="container mark-container">
  
  <div class="mk-container-wrap">
    <ul class="media-list mk-u-wrap">
      <li ng-repeat="user in users" >
          <a class="mk-u-img pull-left"><img src="/img/person.jpg" width="40px" height="40px"><span class="mk-u-name">[[user.name]]<span></a> 
          <span class="mk-fellow-add mk-u-adding" ng-click="folowRemove(user,$event.target)">
          <i class="fa fa-times"></i>
          取关
          </span>
          <span class="mk-u-following">已取关</span>
        </li>
      </ul>
 </div>
</div>  
</script>
<!--查询关注用户searchFellows end-->


<!--评论addcommentView start-->
<script type="text/ng-template" id="addcommentView">
<div class="navbar navbar-inverse navbar-fixed-top mk-menu-f"role="navigation">
  <div class="container">
    <div class="row mk-t-fun">
      <div class="col-xs-6 mk-cancle">
        <i class="fa fa-arrow-left"></i>
      </div>
      
    </div>
  </div>
</div>
<div class="container mark-container">
  <div class="mk-container-wrap mk-comment-bg" style="position:relative;">
  <ul class="media-list booklist">
      <li class="mk-list-item">
          <div class="row mk-bl-wrap">
            <div class="col-xs-10 mk-bl-l">
              <div>
                <a>
                  <img class="media-object pull-left" ng-src="[[book.bookface]]"/>
                </a>
                <div>
                  <h3 class="mark-title"> [[book.name]]</h3>
                  <h4 class="mark-info">来自: [[book.user]] [[book.date]] </h4>

                </div>
              </div>
            </div>
            <div class="col-xs-2 mk-bl-r">
              <p class="mark-pagenumber pull-right">
                <span class="half-circle">[[book.pagenum]]</span>
              </p>
            </div>
          </div>
          <div class="row book-desc">[[book.bookdesc]]</div>
          
        </li>
      </ul>
      <ul class="mk-commentlist">
        <li ng-repeat="comment in book.comment">
          <a class="pull-left"><img src="/img/person.jpg"></a>
          <div>
          <h3>[[comment.owner]]</h3>
          <p>[[comment.content]]</p>
          </div>
        </li>
      </ul>
      <div class="mk-commentarea">
      <ng-form class="form mk-add-form" role="form" name="addcomment">
      <div class="form-group mk-comment-input">
          <input type="text" class="form-control"  ngbk-focus ng-model='book.content' required focus placeholder="发表评论"/>
          <input type="text" class="form-control" ngbk-focus ng-model='book._id'  value="[[book._id]]" style="display:none;"/>
          <i class="fa fa-paper-plane" ng-click="postComment()" ng-disabled='!addcomment.$valid'></i>
        </div>
      </ng-form>
      </div>
      </div>
</div>
</script>
<!--评论addcommentView end-->
