body{background-color: #f5f5f5;}
#mk-loading{
	padding-top: 192px;
    height:100%;
    width:100%;
    background-color: #e91e63;
    position: absolute;
}
#mk-loading .login-logo{
	border-color:#fff transparent #fff transparent;
	color:#fff;
	 -webkit-animation: mk-loading 6s infinite alternate;
    animation: mk-loading 6s infinite alternate;
}

#mk-loading .login-logo span{
	 -webkit-animation: mk-loading-span 12s infinite alternate;
    animation: mk-loading-span 12s infinite alternate;
}

@-webkit-keyframes mk-loading {
    0% { }
    25%  { -webkit-transform: rotate(270deg); }
    50%  { -webkit-transform: rotate( 90deg); }
    75%  { -webkit-transform: rotate(360deg); }
    100% { -webkit-transform: rotate(180deg); }
}

@keyframes mk-loading {
    0% { }
    25%  { -webkit-transform: rotate(270deg); transform: rotate(270deg); }
    50%  { -webkit-transform: rotate( 90deg); transform: rotate( 90deg); }
    75%  { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
    100% { -webkit-transform: rotate(180deg); transform: rotate(180deg); }
}
@-webkit-keyframes mk-loading-span {
    0% { }
    25%  { -webkit-transform: rotate(-540deg) scale(0.8); }
    50%  { -webkit-transform: rotate( -180deg); }
    75%  { -webkit-transform: rotate(-720deg) scale(0.8); }
    100% { -webkit-transform: rotate(-360deg); }
}

@keyframes mk-loading-span {
    0% { }
    25%  { -webkit-transform: rotate(-540deg) scale(0.8); transform: rotate(-540deg) scale(0.8); }
    50%  { -webkit-transform: rotate(-180deg); transform: rotate(-180deg); }
    75%  { -webkit-transform: rotate(-720deg) scale(0.8); transform: rotate(-720deg) scale(0.8); }
    100% { -webkit-transform: rotate(-360deg); transform: rotate(-0deg); }
}

.loading-hide{display:none;}
.navbar-fixed-top{height:56px;background-color: rgba(233,30,99, 0.9);border-width:0 0 0 0;}
.mk-list-wrap{padding-left: 16px;padding-right: 16px;}

.mark-logo{
	border: 3px solid #333;
	border-color:#fff transparent #fff transparent;
	color:#fff;
	width:42px;
	height:42px;
	border-radius: 100%;
	text-align:center;
	line-height: 36px;
	font-size:12px;
	margin:5px 0 0 16px;
	cursor:pointer;
}
.login-content{background-color:#e91e63;padding:24px 24px 244px 24px;}
.mk-login-inner{margin:0 auto;max-width:350px;}
h3.login-logo{
    border: 6px solid #333;
	border-color:#fff transparent #fff transparent;
	color:#fff;
	width:84px;
	height:84px;
	border-radius: 100%;
	text-align:center;
	line-height: 72px;
	font-size:24px;
	margin:0 auto 0 auto;
}
.login-intro{width:90px;margin:12px auto 0 auto;color:rgba(255,255,255,0.8);text-align:center;}
.login-intro a{color:#fff;margin:0 0 0 3px;cursor:pointer;border-bottom:1px dashed #fff;}
.login-intro a:hover{text-decoration:none;border-bottom:1px solid #fff;}
.login-form{margin:24px auto 0;padding:0 48px;}
.login-form .form-control{border:1px solid #fff;
-webkit-box-shadow: 0 4px 0 0 #f06292;
box-shadow: 0 4px 0 0 #f06292;
border-radius:0px;
}
.login-form .btn-default{
-webkit-box-shadow: 0 4px 0 0 #263238;
box-shadow: 0 4px 0 0 #c2185b;
border-radius:0px;
width:100%;
background-color:#f06292;
border:1px solid #f06292;
color:#fff;
cursor:pointer;
}
.creat-account{
	position:fixed;
	bottom:0px;
	left:0px;
	background-color:#fff;
	padding:12px;
	width:100%;
	text-align:center;
}
.creat-account a{color:#e91e63;}
.navbar-header{
	float:left;
}

.top-fuc .glyphicon {
margin-top: 16px;
font-size: 18px;
margin-left:16px;
color:#fff;
}
.top-fuc .glyphicon:hover{
	color:#000;
	cursor:pointer;
}


.mark-container{margin-top:56px;padding-left: 16px;padding-right:16px;}
.mk-importantpanel{
	height:240px;
	width:100%;
	background:rgba(233,30,99, 1);
	position:absolute;
	top:56px;
	left:0px;
}
.mark-container ul.booklist img.media-object {
max-width: 48px;
width: 48px;
margin: 0 12px;
border-radius:3px;
}
.mark-container ul.booklist li{
	border-bottom:1px solid #ccc;
	border-radius: 2px;
    box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.1);
    background: #fff;
	padding:16px 12px 16px 12px;
	position:relative;
}
.mark-title{font-size:14px;font-weight:bold;color:rgba(0,0,0,1);margin:14px 0 4px 0;}
.mark-info{font-size:12px;color:rgba(0,0,0,0.8);font-weight:normal;margin-top:0px;}
.mark-pagenumber{
	margin:12px 4px 0 0px;
	color:#5d5d5d;
}
.half-circle{
	border: 3px solid #5d5d5d;
	border-color:#5d5d5d #fff #5d5d5d #fff;
	border-radius: 100%;
	width:28px;
	height:28px;
	line-height: 24px;
	font-size:12px;
	font-weight:bold;
	display:inline-block;
	text-align:center;
}
.book-desc{
	margin:12px 0 12px 0;
	padding:0 3px;
	font-size:12px;
}
.book-act{
	padding:6px 0 0 0;
}
.book-act .glyphicon{ 
border:1px solid #eeeeee;
color:#7d7d7d;
border-radius:3px;
padding:5px 8px;
cursor:pointer;
margin-right:4px;
font-size:10px;
}

.mark-action{
	border-bottom:1px solid #ccc;
	border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    background: #fff;
	padding:16px 12px 16px 12px;
	margin:0 0 12px 0;
}


.mark-action a,.mark-action span{font-size:24px;color:#a4a4a4;}
.mark-action a:hover{text-decoration: none;}
.mark-action a:hover span{color:#333;}


/*注册*/
.r-title{color:#fff;line-height: 18px;font-size:18px;display:inline-block;height:18px;position:relative;top:-2px;left:3px;}

/*左侧导航*/
.mk-menu-wrapper {
		position: fixed;
		top: 0px;
		bottom: 0;
		left: -302px;
		width: 302px;
		overflow:hidden;
		background-color: #eeeeee;
		z-index:2000;
		box-shadow: 1px 0px 2px 0 rgba(0, 0, 0, 0.3);
}
.mk-menu{
		text-align: left;font-size:16px;
		padding:0 0 0 0;
		color:#000;
}
.mk-menu li{list-style: none;padding: 6px 16px 6px 16px;height:48px;line-height:48px;}
/* styles for opening menu */

.mk-menu-wrapper.mk-open-true{
		left: 0px;
}

.mk-menu .mk-m-user{
	background-color:#607d8b;
	border-bottom:1px solid rgba(0,0,0,0.2);
	padding-bottom: 8px;
	padding-top:16px;
	height:172px;
	position:relative;
}

.mk-m-user p{margin:0 0 0 0px;position:absolute;bottom:0px;height:48px;line-height:36px;color:#fff;font-size:14px;}
.mk-m-user p:first-child{color:#a4a4a4;font-weight:bold;}
.mk-menu li i{font-size:18px;color:#4C4C4C;}
.mk-menu li a{color:#5d5d5d;font-size:14px;cursor:pointer;padding-left: 24px;display:inline-block;height:36px;line-height:24px;}
.mk-menu li a.mk-u-face{padding:0;height:64px;text-align:center;width:64px;overflow:hidden;display:inline-block;border-radius: 50%;}
.mk-u-face img{width:100%;}

/*添加书籍*/
.mk-t-fun .col-xs-6{
	text-align:right;
}
.mk-t-fun i{
display:inline-block;
color: #fff;
text-align: center;
line-height: 48px;
font-size: 18px;
margin: 5px 0 0 1px;
cursor: pointer;
}
.mk-t-fun .mk-cancle{text-align:left;}
.mk-menu-f{background-color: rgba(233,30,99, 1);}
.mk-addmark{border:none;background:none;color: #5d5d5d;font-size: 18px;}

.mk-add-form .form-group{
padding: 0px 32px 0px 72px;
min-height:72px;
margin-bottom: 6px;
}
.mk-add-form .mk-bf-wrap{
height:208px;
	margin-bottom:8px;
}
.mk-add-form .mk-newm-bf{
	margin-bottom:32px;
	margin-top:16px;
}
.mk-add-form .form-group input{
	border:none;
	box-shadow: none;
	border-radius: 0px;
	border-bottom:1px solid #bdbdbd;
	background-color: transparent;

}

.mk-add-form .form-group label{color:#bdbdbd;font-weight: normal;}
.mk-reg-form .form-group{
	padding: 0px;
}
.mk-reg-form div{padding: 0px 0px 0px 56px;}
.mk-reg-form i{
	color:#bdbdbd;
	font-size: 18px;
	padding-top: 8px;
}
.mk-newm-bf img{margin-left: 72px;}

.mk-true-contain{
	overflow:auto;
	height:158px;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	border-radius: 5px;
}
.mk-true-contain .list-group{
	margin-bottom: 0px;
	margin-top: 1px;
}
.mk-true-click{
	background-color:#e5e5e5;
}


@media (min-width: 768px){
	
}

